@model WebMVC.Models.ListBooksViewModel

@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}

<h2>Books</h2>

@if (Model.FilteredGenreName != null)
{
    <h3>Genre: @Model.FilteredGenreName</h3>
}

@if (Model.FilteredPublisherName != null)
{
    <h3>Publisher: @Model.FilteredPublisherName</h3>
}

@foreach (var book in Model.Books)
{
    <div class="card m-2">
        <div class="card-body d-flex justify-content-between">
            <div>
                <b class="card-title">@book.Name</b>
                <p class="card-text">@book.Description</p>
                <a href="books/@book.Id" class="btn btn-primary">Detail</a>
            </div>
            <b class="card-text">@book.Price €</b>
        </div>

    </div>
}